.idea
.idea/* 
*.iml
/.settings
/*/target
/*/target/*
target
target/*
/logs/*

.project
/*/.project

.classpath
/*/.classpath

classes/*
.class
*.log

node_modules/
semantic/

out/artifacts

src/main/resources/js/jsx